*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rightimg-frame2{
    position: relative;
    top: 60px;
    left: 30px;
}
.main-frame4{
    display: flex;   
}
#stroke{
    width: 300px;
}
#stroke2 {
    width: 200px;
    position: relative;
    left: -87px;
    bottom: -137px;
}
#star {
    width: 80px;
    position: absolute;
    left: -28px;
}
#unsplash {
    width: 300px;
    position: absolute;
    top: 28px;
    left: 50px;
}
#hero{
    width: 500px;
}
.frame8-text{
    font-size: 70px;
}
#frame9-right {
    position: absolute;
    top: -48px;
    right: 259px;
    width: 300px;
}
#frame9-left{
    width: 300px;
}
.card-frame9 {
    position: absolute;
    left: 422px;
    bottom: 15px;
    width: 800px;
}
img#frame11-right {
    position: absolute;
    bottom: -63px;
    right: 152px;
}
img#frame12-1 {
    position: absolute;
    top: -83px;
    right: 13px;
}
img#frame12-2 {
    position: absolute;
    top: -213px;
    right: -135px;
    z-index: 1;
}
img#frame12-3 {
    position: absolute;
    top: -237px;
    left: 26px;
}
img#frame12-4 {
    position: absolute;
    right: -11px;
    top: -450px;
}
img#frame12-5 {
    position: relative;
    right: -376px;
}
img#bottomimg {
    position: absolute;
    left: 13px;
    top: 233px;
}
img#star2 {
    position: absolute;
 
    z-index: 1;
}
img#topimg {
    position: absolute;
    top: -100px;
}
img#star1 {
    position: absolute;
    bottom: -292px;
}
img#star3 {
    position: absolute;
    bottom: -304px;
    right: 25px;
}
.frame13-card {
    position: absolute;
    bottom: -393px;
}
img#bgbrown {
    position: absolute;
    bottom: 97px;
    width: 500px;
    right: 0px;
    z-index: 0;
}
img#bgyellow {
    position: absolute;
    width: 350px;
    top: 10px;
    left: 82px;
}
img#star4 {
    position: absolute;
    top: -50px;
}
img#unsplash1 {
    position: relative;
    top: 60px;
    
} 
.frame16-main{
    background-image: url("../img/frame16/AI\ image\ -\ OpenAI.png");
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    width: auto;
}
.card-frame17 {
    position: absolute;
    top: -107px;
    left: 149px;
}
.card-frame20 {
    position: relative;
    top: -40px;
    left: 179px;
}
.frame22-top{
    top: -50px;
}
img#hero-frame24 {
    width: 400px;
    position: relative;
    top: -50px;
    right: -73px;
    z-index: 1;
}
img#star-frame24 {
    position: absolute;
    left: -27px;
}
img#yellow-frame24 {
    position: absolute;
    top: -51px;
    width: 300px;
}
img#star2-frame24 {
    position: relative;
    right: -383px;
    bottom: 293px;
}
img#shape-frame25 {
    position: absolute;
    right: -65px;
    top: -129px;
}
img#img-frame25 {
    position: absolute;
    z-index: 1;
    width: 300px;
    left: 154px;
}
img#vector2-frame25 {
    position: absolute;
    right: 0px;
}
img#vector-frame25 {
    position: absolute;
}

.row.bottom-figma25 {
    margin-top: 467px;
}















@media (max-width:768px) {
    #rightimg-frame2{
        left: 0px;
        top: 10px;
    }
    .main-frame4{
        flex-direction: column;
    }
}